<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd" >
<log4j:configuration>

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%t - %d %-5p (%c.java:%L).%M - %m%n"/>
        </layout>
    </appender>
    
    <appender name="File" class="org.apache.log4j.RollingFileAppender">
<!-- 	    <param name="Append" value="false"/>
	    <param name="MaxFileSize" value="4000KB"/> 
	    <param name="MaxBackupIndex" value="3"/>  -->
<!-- 	    <param name="File" value="${webapp.root}\my.log"/>  -->
	    <param name="MaxFileSize" value="40000KB"/> 
	    <param name="File" value="my.log"/> 
	    <layout class="org.apache.log4j.PatternLayout">
	    	<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %t %c - %m%n"/>
	    </layout>
	</appender>
 
    <appender name="Database" class="org.apache.log4j.jdbc.JDBCAppender">
	    <param name="URL" value="jdbc:oracle:thin:@127.0.0.1:1521:mumu"/>
	    <param name="user" value="liulibo"/> 
	    <param name="password" value="liulibo"/> 
	    <param name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	    <layout class="org.apache.log4j.PatternLayout">
	    	<param name="ConversionPattern" value="insert into log4j(createdate,thread,level_,class,message) values(\'%d\',\'%t\',\'%-5p\',\'%c\',\'%m\')"/>
	    </layout>
 	</appender>
 
    <appender name="Mail" class="org.apache.log4j.net.SMTPAppender">
		<param name="threshold" value="debug" />
	    <!-- 日志的错误级别
	     <param name="threshold" value="fatal"/>
	    -->
	    <!-- 缓存文件大小，日志达到512K时发送Email -->
	    <param name="BufferSize" value="512" /><!-- 单位K -->
	    <param name="From" value="test@163.com" />
	    <param name="SMTPHost" value="smtp.163.com" />
	    <param name="Subject" value="juyee-log4jMessage" />
	    <param name="To" value="test@163.com" />
	    <param name="SMTPUsername" value="test" />
	    <param name="SMTPPassword" value="test" />
	    <layout class="org.apache.log4j.PatternLayout">
	    	<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} [%p]-[%c] %m%n" />
	    </layout>
    </appender>
 
    <logger name="com.ron" additivity="false">
        <level value="debug"/> 
        <appender-ref ref="Console" />
    </logger> 
    
    <logger name="org.springframework" additivity="false">
        <level value="info"/> 
    </logger> 
    
    <root>
        <priority value="info" />
        <appender-ref ref="Console"/>
<!--         <appender-ref ref="File" />   -->
    </root>
</log4j:configuration>
